<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <queries><intent><action android:name="android.speech.RecognitionService" /></intent></queries>
    <application android:theme="@style/Theme.EasyFlow" android:label="Easy Flow" android:icon="@drawable/easy_flow_icon" android:allowBackup="false" android:supportsRtl="true">
        <uses-native-library android:name="libvndksupport.so" android:required="false"/>
        <uses-native-library android:name="libOpenCL.so" android:required="false"/>
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service android:name=".EasyFlowImeService" android:permission="android.permission.BIND_INPUT_METHOD" android:exported="true">
            <intent-filter><action android:name="android.view.InputMethod"/></intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/method"/>
        </service>
    </application>
</manifest>
